.ipynb_checkpoints
__pycache__

/01_data/*
/04_target-answer-identification/02_ncrf++/NCRFpp/*

/.git_old
/.vscode

/00_common/stanford-corenlp-4.0.0
-1_playground/bert-base-srl-2020.03.24.tar.gz
-1_playground/Untitled.ipynb
04_target-answer-identification/01_crf/bert-base-srl-2020.03.24.tar.gz
